/*
 * DOCUMENT
 */
body{
  font-family: 'Roboto', sans-serif;
  color: #d0d1d2;
  font-size: 15px;
}
h1, h2, h3, h4{
  color: #494949;
}
.navbar{
  margin-bottom: 0px;
}
.navbar-default{
  background-color: inherit;
  border:none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover{
  background-color: inherit;
  border-top: 2px solid #ffa31e;
}
textarea, input { outline: none; }
.navbar-brand{
  padding-left: 0px;
}
.nav-tabs{
  border:none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover,
.nav-tabs>li>a, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover{
  border: none;
  background-color: inherit;
}

#mondeca-keywords {
  font-size: 12px;
  line-height: 2.5;
  margin: 15px 15px;
}

#mondeca-keywords table {
  width: 100%;
}

.keyword-button {
  margin: 0 5px 5px 0;
  font-size: 12px;
}

th {
  text-align: center;
}

.highlighted {
  background-color: rgb(255, 255, 102);
}