/* FOOTER */
.bs-docs-footer
  text-align: left
  padding-top: 50px
  padding-bottom: 50px
  margin-top: 100px
  color: #99979c
  text-align: center
  background-color: #2a2730

.bs-docs-footer-links
  padding-left: 0
  margin-bottom: 20px