header
  border-bottom: 1px solid #e7e8e8
  z-index: 100
  position: relative
  .navbar-default .navbar-brand
    color: #88b4d1
    font-family: 'Open Sans', sans-serif
    font-size: 22px
    +m_t(10px)
  #main-menu
    text-transform: uppercase
    li
      a
        font-family: 'Open Sans', sans-serif
        color: #008cf3
        border-top: 4px solid #fff
        padding: 20px 15px 24px 15px
        +transition(.5s)
      &.active, &:hover
        a
          border-top: 4px solid #ffa31e
          color: #494949
          +bold

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min)
  #main-menu
    li
      a
        font-size: 0.7em
/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min)
  #main-menu
    li
      a
        font-size: 16px
/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min)
