#presentation
  background-image: url("../img/guy2.png")
  background-size: cover
  background-repeat: no-repeat
  background-position: 75% top
  background-color: #6f7980
  padding: 3.5em 0px
  color: white

  h1
    color: white
    font-family: 'Roboto', sans-serif
    font-size: 50px
    font-weight: 300

  ul
    list-style-type: none
    padding: 0px
    margin: 0px
    padding-bottom: 15px
  li
    padding-left: 10px
    +p_b(28px)
    color: white
    font-family: 'Open Sans', sans-serif
    font-size: 28px
    font-weight: 300

  li:before
    content: "•"
    padding-right: 8px
    color: #ffa31e

  .see-all-btn
    color: #88b4d1
    font-family: 'Open Sans', sans-serif
    font-size: 15px
    font-weight: 400
    .glyphicon
      margin-left: 7px
      top: 3px

@media screen and (max-width: 1038px)
  #presentation
    background-image: none
@media screen and (min-width: 800px) and (max-width: 991px)
  #presentation
    background-image: url("../img/guy.png")