/*
 * SEARCH
 */
#search
  input
    padding: 0px
    border: none
    background-color: white

  .twitter-typeahead
    display: block

  .tt-menu
    width: 100%

  .glyphicon.search
    line-height: 3em

  .typeahead, .glyphicon
    padding: 0px


#custom-search-input
  padding: 3px
  border: solid 1px #E4E4E4
  border-radius: 6px
  background-color: #fff

#custom-search-input input
  border: 0
  box-shadow: none

#custom-search-input button
  margin: 2px 0 0 0
  background: none
  box-shadow: none
  border: 0
  color: #666666
  padding: 0 8px 0 10px
  border-left: solid 1px #ccc

#custom-search-input button:hover
  border: 0
  box-shadow: none
  border-left: solid 1px #ccc

#custom-search-input .glyphicon-search
  font-size: 23px

.twitter-typeahead, .tt-hint, .tt-input, .tt-menu
  width: 100%

.navbar-form .twitter-typeahead,
.navbar-form .tt-hint,
.navbar-form .tt-input,
.navbar-form .tt-menu
  width: 500px