header
  .container
    .row
      nav.navbar.navbar-default.col-md-12
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#main-menu', aria-expanded='false')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand OFRe
        #main-menu.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.active
              a(href='index.html#') Home
            li
              a(href='index.html#') Technology
            li
              a(href='index.html#') Ad Type
            li
              a(href='index.html#') Publisher
            li
              a(href='index.html#') Advertiser
            li
              a(href='index.html#') Contact
            li
              a(href='login.html') Sign In