#search.container
  .row
    .col-xs-11.col-md-11
      input.typeahead.input-lg(type='text', placeholder='Documentation, Services, Products, anything')
    .col-md-1
      span.glyphicon.glyphicon-search.search(aria-hidden='true')
  .clearfix
