
.details.tabs
  border-bottom: 1px solid #f0f1f1
  text-transform: uppercase

#regulation img, #regulation .details
  display: inline-block


#details
  margin-bottom: 2em

#details h1
  text-align: center

.tab-pane
  margin-top: 1em

.tab-pane h1
  margin-bottom: 20px


article
  .tab-pane > img, .tab-pane > div
    display: inline-block
    vertical-align: middle
    float: none

  >div.subtab
    margin-bottom: 1em
    display: block
    text-align: center

  >div.subtab>.tabs
    margin-bottom: 1em
.subtab
  h3
    margin-top: 1em

  ul.nav-tabs
    display: inline-block
    width: auto
    border-bottom: 1px solid #f0f1f1

  .nav-tabs > li, .nav-pills > li
    float: none
    display: inline-block

  .nav-tabs, .nav-pills
    text-align: center

.nav.nav-tabs>li.active
  border-bottom: 4px solid #ffa31e

.panels
  border: 1px solid #d0d1d2
  border-radius: 10px
  padding: 2em 1em
  margin-bottom: 2em
  font-size: 20px

.media-middle
  margin-top: -10px
  float: right


@media screen and (max-width: 1280px)
  .panels
    font-size: 1em


@media screen and (max-width: 1176px)
  .nav.navbar-nav.pull-right>li>a
    font-size: 0.8em
  .panels
    font-size: 1em
    text-align: center
    img
      display: none

@media screen and (min-width: 800px) and (max-width: 991px)
  .panels
    text-align: left
    img
      display: inline-block
@media screen and (min-width: 768px) and (max-width: 1038px)
  .nav.navbar-nav.pull-right>li>a
    font-size: 0.7em
    padding-right: 15%