extends layouts/default

block content
  include partials/header
  include partials/search-bar
  section#presentation
    .container-fluid
      .row
        .col-md-6
          h1 Open Financial Regulation Europa
          p
            | Toute la réglementation financière européenne réunie.
          ul
            li Un accès rapide et simple à tous les textes
            li Un système de veille automatique
            li Un moteur de recherche unique
            li Des fonctions avancées pour vous faire gagner du temps.
          a.see-all-btn(href='index.html#more')
            | See all Services
            span.glyphicon.glyphicon-circle-arrow-right
  .container-fluid
    .details.tabs.row
      ul.nav.nav-tabs.col-md-6.col-md-push-3.col-lg-8.col-lg-push-2(role='tablist')
        li.active(role='presentation')
          a(href='index.html#regulation', aria-controls='regulation', role='tab', data-toggle='tab') Regulation
        li(role='presentation')
          a(href='index.html#big-data', aria-controls='big-data', role='tab', data-toggle='tab') Big Data
        li(role='presentation')
          a(href='index.html#features', aria-controls='features', role='tab', data-toggle='tab') Features
        li(role='presentation')
          a(href='index.html#partners', aria-controls='partners', role='tab', data-toggle='tab') Partners
    .clearfix
    section#details.col-md-8.col-md-push-2.tab-content
      article#regulation.tab-pane.active.row(role='tabpanel')
        h1 All the bank regulation in a click
        img.col-md-6.img-responsive(src='img/mac.png')
        //
        .col-md-6
          h2 Everything in the same place
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet architecto assumenda consectetur distinctio, eum, laboriosam necessitatibus non sed similique sunt totam. Eaque libero officiis perspiciatis sunt voluptatibus! Modi, qui!
        .clearfix
        .subtab
          h3 All the regulation
          .tabs
            ul.nav.nav-tabs(role='tablist')
              li.active(role='presentation')
                a(href='index.html#regulation-national', aria-controls='regulation-national', role='tab', data-toggle='tab') National
              li(role='presentation')
                a(href='index.html#regulation-european', aria-controls='regulation-european', role='tab', data-toggle='tab') European
          .tab-content.row
            #regulation-national.tab-pane.col-md-12.active(role='tabpanel')
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto commodi dolorem eum molestias nobis non placeat quasi quibusdam quisquam, repellat repudiandae voluptates. Aut iure necessitatibus obcaecati quidem tempore. Deleniti, error?
            #regulation-european.tab-pane.col-md-12(role='tabpanel')
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dolores dolorum eius hic in neque sint vero. Dolores et modi non obcaecati sapiente voluptate voluptatem! A beatae mollitia nobis vero.
      article#big-data.tab-pane.row(role='tabpanel')
        h1 Big Data analysis
        //img.col-md-6.col-xs-12(src='index.html')
        //
        .col-md-6
          h2
          p
      article#features.tab-pane.row
      article#partners.tab-pane.row
    .clearfix
    section.col-md-10.col-md-push-1.col-lg-push-1.row
      .col-md-4
        .panels
          | Be up to date everyday
          img.media-middle.hidden-xs(src='img/shopping-cart.png')
      .col-md-4
        .panels
          | We make your legal watch
          img.media-middle.hidden-xs(src='img/credit-card.png')
      .col-md-4
        .panels
          | Big Data for you
          img.media-middle.hidden-xs(src='img/money-bag.png')
